* {
  font-family: "Hack";
  font-size: 16px;
  border: none;
}

window#waybar {
  all: unset;
}

#window {
  margin: 3px 2px;
  padding: 0 15px 0 15px;
  border: transparent;
  border-radius: 10px;
  background: linear-gradient(to right, #b6a0ff, #aba2ff, #a0a3ff, #94a5ff, #89a6ff, #7ba9fc, #6eabf7, #63adf2, #5dafe6, #60b0d9, #6ab0cb, #76afbf);
}

window#waybar.empty #window {
  background-color: transparent;
  background: transparent;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 8px;
}

#workspaces {
  margin: 3px 5px 3px 5px;
  border-radius: 10px;
}

.modules-center {
  background-color: inherit;
  border-radius: 0;
}

.modules-right > widget:last-child > #clock, #cpu, #tray, #battery, #memory, #network {
  padding: 0 10px 0 10px;
  margin-right: 8px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
  background: rgba(0, 0, 0, 0.2);
  box-shadow: inherit;
  text-shadow: inherit;
}

#workspaces button.focused {
  background-color: #b6a0ff;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

#workspaces button {
  padding: 5px 10px 5px 10px;
  background-color: transparent;
  border-radius: 10px;
  color: #ffffff;
}

#mode {
  background-color: transparent;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
  padding: 0 12px 0 15px;
  margin: 3px 2px;
  border-radius: 10px;
  color: #ffffff;
}

#clock {
  background-color: #76afbf;
}

#battery {
  background-color: #ffffff;
  color: #000000;
}

#battery.charging, #battery.plugged {
  color: #ffffff;
  background-color: #26A65B;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
  background-color: #f53c3c;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#power-profiles-daemon {
  padding-right: 15px;
}

#power-profiles-daemon.performance {
  background-color: #f53c3c;
  color: #ffffff;
}

#power-profiles-daemon.balanced {
  background-color: #2980b9;
  color: #ffffff;
}

#power-profiles-daemon.power-saver {
  background-color: #70b900;
  color: #000000;
}

label:focus {
  background-color: #000000;
}

#cpu {
  background-color: #44bc44;
}

#memory {
  background-color: #b6a0ff;
}

#backlight {
  background-color: #90b1b1;
}

#network {
  background-color: #79a8ff;
}

#network.disconnected {
  background-color: #ff6b55;
}

#pulseaudio {
  background-color: #f1c40f;
  color: #000000;
}

/* you can set a style on hover for any module like this */
#pulseaudio:hover {
  background-color: #a37800;
}

#pulseaudio.muted {
  background-color: #90b1b1;
  color: #000000;
}

#wireplumber {
  background-color: #fff0f5;
  color: #000000;
}

#wireplumber.muted {
  background-color: #ff5f59;
}

#custom-media {
  background-color: #66cc99;
  color: #000000;
  min-width: 100px;
}

#custom-media.custom-spotify {
  background-color: #66cc99;
}

#custom-media.custom-vlc {
  background-color: #ffa000;
}

#temperature {
  background-color: #f0932b;
}

#temperature.critical {
  background-color: #ff5f5f;
}

#tray {
  background-color: #79a8ff;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #ff5f5f;
}

#idle_inhibitor {
  background-color: #2d3436;
}

#idle_inhibitor.activated {
  background-color: #ecf0f1;
  color: #2d3436;
}

#mpd {
  background-color: #66cc99;
  color: #2a5c45;
}

#mpd.disconnected {
  background-color: #f53c3c;
}

#mpd.stopped {
  background-color: #90b1b1;
}

#mpd.paused {
  background-color: #51a37a;
}

#language {
  background: #00b093;
  color: #740864;
  padding: 0 5px;
  margin: 0 5px;
  min-width: 16px;
}

#keyboard-state {
  background: #97e1ad;
  color: #000000;
  padding: 0 0px;
  margin: 0 5px;
  min-width: 16px;
}

#keyboard-state > label {
  padding: 0 5px;
}

#keyboard-state > label.locked {
  background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
  background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}

#privacy {
  padding: 0;
}

#privacy-item {
  padding: 0 5px;
  color: white;
}

#privacy-item.screenshare {
  background-color: #cf5700;
}

#privacy-item.audio-in {
  background-color: #1ca000;
}

#privacy-item.audio-out {
  background-color: #0069d4;
}
