#window {
	font-family: "Roboto Mono Medium";
  background-color: rgba(13, 14, 28, 0.6);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  font-size: 1.2rem;
}

#window #outer-box #input {
  background-color: rgba(13, 14, 28, 0.6);
  color: #82b0ec;
  border: none;
  border-bottom: 1px solid rgba(13, 14, 28, 0.2);
  padding: 0.8rem 1rem;
  font-size: 1.5rem;
  border-radius: 1rem 1rem 0 0;
}

#window #outer-box #input:focus,
#window #outer-box #input:focus-visible,
#window #outer-box #input:active {
  border: none;
  outline: 2px solid transparent;
  outline-color: #82b0ec;
  outline-offset: 2px;
}

#window #outer-box #scroll #inner-box #entry {
  color: #feacd0;
  background-color: rgba(13, 14, 28, 0.1);
  padding: 0.6rem 1rem;
  /* The name of all images in entries displayed in image mode */
  /* The name of all the text in entries */
}

#window #outer-box #scroll #inner-box #entry #img {
  width: 1rem;
  margin-right: 0.5rem;
}

#window #outer-box #scroll #inner-box #entry:selected {
  color: #feacd0;
  background-color: rgba(202, 166, 223, 0.1);
  outline: none;
}
